header{
  background-color: #404040;
  padding: 1rem;
}
header a{
  color: #fff;
  text-decoration: none;
  font-weight: bold ;
  font-size: 30px;
}
.site-container{
  min-height: 100vh;
}
main{
  flex: 1;
}
.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product{
  border: 1px #404040 solid;
  margin: 1rem;
}
.product img{
  width: 100%;
  max-width: 300px;
  height: 400px;
}
.product-info{
  padding: 1rem;
}
.product-name{
text-decoration: solid;
color: rgb(145, 62, 62);
}
.img-large{
  padding-top: 20px;
  max-width: 100%;
  height: 600px;
}
.details{
  padding-top: 20px;
}
.name{
  font-size: 30px;
}
.d-grid{
  padding-top: 10px;
}
.card{
  padding-top: 20px;
}
.small-containe{
  max-width: 600px;
}
.p-2{
  font-size: 20px;
  color: rgb(16, 186, 172);
}
.cartimage{
  width: 500px;
  height: 500px;
  padding-top: 30px;
}
.adress{
  width: 500px;
  height: 100px;
}
footer{
  background-color: black;
}
.text-center{
  color: white;
}
.reviews{
  width: 200px;
  align-items: center;
}
.motion{
  color: rgb(16, 186, 172);
}
.orderImage{
  height: 400px;
  width: 400px;
}
.order{
  padding-top: 20px;
}